{% extends "homepage.html" %}

{% block título %}
Perfil - {{usuario}}
{% endblock %}

{% block body %}
<body>
{% include "navbar.html" %}

    <div class="container">
      {% if form %}
      <form class="bloco-add-img" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token}}
        <h2> {{ usuario.username }} - Enviar foto</h2>

        <div class="bloco-input-botao">
          <div class="bloco-arquivo">
            <label for="foto" class="botao-arquivo">
            Escolher arquivo
              {{ form.foto(class="input-arquivo", id="foto")}}
            </label>
          <span id="imagem-arquivo" class=""></span>
            <p>Nenhum arquivo escolhido</p>
          </div>

          {{ form.botao_confirmacao(class="botao-login")}}
        </div>
      <form>
      {% else %}
        <div class="bloco-add-img">
         <h2> {{ usuario.username }} - Ver Perfil</h2>
        </div>
      {% endif %}
    </div>

<div class="conteudo">
{% for foto in usuario.fotos %}
    <div class="bloco-imagem">
      <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"/>
    </div>
{% endfor %}
</div>
</div>

<script>

  let input = document.getElementyById("foto");
  let imagemArquivo = document.getElementyById("imagem-arquivo");

  input.addEventListener("change", () => {
    let inputImagem = document.querySelector("input[type=file[0];

    imagemArquivo.classList.add("visivel");
    imagemArquivo.innerText = inputImagem.name;
  });
</script>

</body>
{% endblock %}